body {
    background-color: skyblue;
}

main {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    margin-right: 10%;
}

.canvasarea {
    border: 3px solid midnightblue;
    display: inline-block;
    margin-top: 1%;
}

.canvasdiv {
    border: 1px solid lightgray;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    background-color: white;
}

.clearbutton {
    width: 100px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 7%;
}

.pickerarea {
    width: 200px;
    height: 700px;
    display: inline-block;
    background-color: skyblue;
    box-sizing: border-box;
    text-align: center;
}

.pickerdiv {
    width: 42px;
    height: 42px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    display: inline-block;
    float: none;
    box-sizing: border-box;
    border: 1px dotted whitesmoke;
}

.selecteddiv{
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
